@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Merriweather:wght@400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

body {
	margin: 0;
	background-color: #f5f5f5;
	font-family: "Roboto", sans-serif;
}

.outer-wrapper {
	background-color: #1e3a5f;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

header {
	grid-column: 1/12;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #1e3a5f;
}

.spidey .outer-wrapper,
.spidey header {
	background-color: #d72638;
}

#grid {
	position: absolute;
	/*display: grid; */
	display: none;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}

#grid p {
	border: 1px solid #000;
	margin: 0;
	opacity: 0.2;
}

img {
	width: 100%;
	height: auto;
}

header h1 {
	grid-column: 1/8;
	align-self: center;
	font-family: "Merriweather", serif;
	color: #f5f5f5;
}

.spidey header h1 {
	grid-column: 1/8;
	align-self: center;
	font-family: "Sigmar One", serif;
	color: #f5f5f5;
}

header nav {
	grid-column: 8/12;
	align-self: center;
}

header .logo {
	grid-column: 12/13;
}

header nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

header nav ul li {
	display: inline;
	padding-right: 10px;
}

header nav ul li a {
	color: #f5f5f5;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

.peterIntro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url("images/Peter/Peter_nerd2.png");
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
}

.peterIntro img {
	margin: 10px 240px;
	height: 350px;
	width: auto;
	border: 10px solid #f5f5f5;
	display: block;
}

.peterIntro .introText {
	margin: 0px 240px;
	margin-left: 10px;
	color: #f5f5f5;
	font-family: "Roboto", sans-serif;
}

.peterIntro .introText h1 {
	font-family: "Merriweather", serif;
}

.section {
	margin: 20px 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.aboutMe img,
.aboutMe2 img,
.aboutMe3 img,
.aboutMe4 img,
.aboutMe5 img {
	width: 20%;
	height: auto;
	padding: 20px;
}

.aboutMe,
.aboutMe2,
.aboutMe3,
.aboutMe4,
.aboutMe5 {
	margin: 30px 240px;
	display: flex;
	width: 80%;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	max-width: 1240px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bron: ChatGPT (OpenAI), gegenereerd op [17/12/2024]*/
}

.aboutMe,
.aboutMe3,
.aboutMe5 {
	flex-direction: row-reverse;
}

.aboutMe p h2,
.aboutMe2 p h2,
.aboutMe3 p h2,
.aboutMe4 p h2,
.aboutMe5 p h2 {
	margin: 50px 50px;
}

.aboutMe h2,
.aboutMe2 h2,
.aboutMe3 h2,
.aboutMe4 h2,
.aboutMe5 h2 {
	color: #1e3a5f;
	font-family: "Merriweather", serif;
}

.aboutMeText,
.aboutMeText2,
.aboutMeText3,
.aboutMeText4,
.aboutMeText5 {
	padding: 20px;
}

.conclusion {
	color: #1e3a5f;
	text-align: center;
	margin: 30px 320px;
}

.conclusionText {
	margin: 0 auto;
	padding-top: 50px;
	margin-bottom: 80px;
	font-family: "Merriweather", serif;
}

.conclusion .links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.conclusion .links ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
}

.conclusion .links .button img {
	height: 15px;
	width: auto;
	justify-content: space-around;
	align-items: center;
}

.conclusion .links .button {
	text-decoration: none;
	color: #f5f5f5;
	background-color: #1e3a5f;
	padding: 30px 60px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}

.conclusion .links .button:hover {
	background-color: #d72638;
	color: #f5f5f5;
}

/* Footer */

.endAboutMe,
.endResume {
	display: flex;
	flex-direction: column;
	background-color: #1e3a5f;
	font-family: "Roboto", sans-serif;
	color: #f5f5f5;
	margin-top: 100px;
	padding: 50px;
	margin-top: 0;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.endAboutMe p,
.endResume p,
.endSpidey p {
	margin: 20px 190px;
}

.insta img {
	height: 35px;
	width: auto;
	margin-left: 30px;
	justify-content: center;
}

.topButton {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0px 240px;
}

.topButton img {
	height: 35px;
	width: auto;
}

/* resume */

.wrapperTwoResume {
	background-image: url("images/paper.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: auto;
	padding-top: 10px;
	padding-bottom: 80px;
}

.resumeIntro {
	margin: 30px 240px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 400px;
}

.resumeIntro img {
	width: 400px;
	height: auto;
}

.quote {
	margin: 0px 200px;
	margin-bottom: 40px;
	padding: 40px;
	font-family: "Merriweather", serif;
	color: #1e3a5f;
	text-align: center;
}

.resume {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 100px;
	margin: 0px 240px;
}
.education img,
.skills img {
	height: auto;
	width: 70px;
	margin-right: 20px;
}

.experience img,
.awards img {
	height: auto;
	width: 70px;
	margin-left: 20px;
}

.education,
.skills {
	grid-column: 1;
	text-align: left;
}

.experience,
.awards {
	grid-column: 2;
	text-align: right;
}

.education h2,
.skills h2,
.experience h2,
.awards h2 {
	margin: 0 0 10px;
	color: #f5f5f5;
	padding: 10px 20px;
	font-family: "Merriweather", serif;
	background-color: #1e3a5f;
}

.education h3,
.skills h3,
.experience h3,
.awards h3 {
	display: flex;
	align-items: center;
	font-family: "Merriweather", serif;
	color: #1e3a5f;
	margin-top: 0;
	padding: 0;
}

.experience h3,
.awards h3 {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.education p,
.skills p {
	margin-left: 90px;
	margin-right: 0;
}

.experience p,
.awards p {
	margin-right: 90px;
	margin-left: 0px;
	text-align: right;
}

.interests {
	margin: 30px 420px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("images/paper-tape.png");
	background-size: cover;
	background-position: center;
	height: 10px;
	width: auto;
	padding: 300px;
}

.interestsText h2 {
	font-family: "Merriweather", serif;
	color: #1e3a5f;
	text-align: left;
	margin: 0px 240px;
}

.interestsText h3,
p {
	font-family: "Roboto", sans-serif;
	text-align: left;
}

/*spider-man section */

.spiderIntro {
	display: flex;
	align-items: center;
	background-color: #1e3a5f;
}

.spiderIntro img {
	margin: 120px 240px;
	width: auto;
	height: 350px;
}

.spiderIntro .spiderIntroText {
	margin: 0px 240px;
	margin-right: 0px;
	color: #f5f5f5;
	font-family: "Sigmar One", serif;
	font-size: 14pt;
	text-align: center;
}

.aboutSpidey {
	position: relative;
	justify-content: space-between;
	background-image: url("images/Spidey/Spidey_jump.gif");
	background-size: cover;
	background-position: center;
	height: 800px;
	width: 100%;
	padding: 10px;
}

.aboutSpidey .aboutSpideyTekst h1 {
	align-items: flex-start;
	margin: 0px 200px;
	margin-right: 0;
	color: #f5f5f5;
	font-family: "Sigmar One", serif;
	margin-top: 50px;
}

.aboutSpidey .aboutSpideyTekst p {
	align-items: flex-start;
	margin: 0px 200px;
	margin-right: 0px;
	color: #f5f5f5;
	font-family: "Roboto", sans-serif;
}

.aboutSpidey .aboutSpideyTekst2 p {
	margin: 500px 240px;
	margin-right: 200px;
	color: #f5f5f5;
	font-family: "Roboto", sans-serif;
	text-align: right;
}

.spideySkills {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #d72638;
	color: #f5f5f5;
	flex-direction: column;
	padding-bottom: 40px;
}

.spideySkills h1 {
	margin: 50px 50px 10px 0px;
	color: #1e3a5f;
	font-family: "Sigmar One", serif;
	font-size: 50pt;
}

.section .spideySkills {
	margin: 20px 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.superhuman img,
.web img,
.problem-solving img,
.technologically img {
	width: 20%;
	height: auto;
	padding: 20px;
}

.superhuman,
.web,
.problem-solving,
.technologically {
	margin: 30px 240px;
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	width: 100%;
	max-width: 1240px;
	background-color: #1e3a5f;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bron: ChatGPT (OpenAI), gegenereerd op [17/12/2024]*/
}

.superhuman h2,
.web h2,
.problem-solving h2,
.technologically h2 {
	color: #f5f5f5;
	font-family: "Sigmar One", serif;
	margin: 0;
}

.superhumanText,
.webText,
.problemText,
.technologicallyText {
	display: flex;
	flex: 1;
	margin-left: 80px;
	flex-direction: column;
}

.spideyQuote {
	background-color: #000;
	padding: 20px;
}
.spideyQuote h1 {
	margin: 20px 240px;
	color: #f5f5f5;
	font-family: "Sigmar One", serif;
	text-align: center;
}

.villains {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1e3a5f;
	color: #f5f5f5;
	flex-direction: column;
	padding-bottom: 40px;
}

.villains h1 {
	margin: 50px 50px 10px 0px;
	color: #d72638;
	font-family: "Sigmar One", serif;
	font-size: 50pt;
}

.section .villains {
	margin: 20px 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.everyVillains,
.mysterio {
	margin: 30px 240px;
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	width: 100%;
	max-width: 1240px;
	background-color: #d72638;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bron: ChatGPT (OpenAI), gegenereerd op [17/12/2024]*/
}

.mysterio {
	flex-direction: row-reverse;
}

.everyVillains img,
.mysterio img {
	width: 20%;
	height: auto;
	padding: 20px;
}

.vulture img,
.thanos img {
	width: 96%;
	height: auto;
	padding: 20px;
}
.vulture,
.thanos {
	margin: 30px 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	width: 100%;
	max-width: 1240px;
	background-color: #d72638;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bron: ChatGPT (OpenAI), gegenereerd op [17/12/2024]*/
}

.everyVillains h2,
.vulture h2,
.mysterio h2,
.thanos h2 {
	color: #f5f5f5;
	font-family: "Sigmar One", serif;
	margin: 30px 0;
	text-align: center;
}

.everyVillainsText p,
.vultureText p,
.mysterioText p,
.thanosText p {
	padding: 0px;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.multiversal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #1e3a5f;
	color: #f5f5f5;
	flex-direction: column;
	padding-bottom: 40px;
}

.multiversal .spider-Men3 h1 {
	margin: 20px 240px;
	color: #d72638;
	font-family: "Sigmar One", serif;
	font-size: 50pt;
	text-align: center;
}

.multiversal .spider-Men3 h3 {
	text-align: center;
	color: #f5f5f5;
	margin: 20px 240px;
	margin-bottom: 0px;
}

.multiversal .spider-Men3 img {
	margin: 20px 240px;
	width: 72%;
	height: auto;
}

.section .multiversal {
	margin: 20px 240px;
	display: flex;
	justify-content: space-between;
}

.multiversalVillan {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	width: 100%;
	background: rgb(30, 58, 95);
	background: linear-gradient(
		180deg,
		rgba(30, 58, 95, 1) 25%,
		rgba(215, 38, 56, 1) 85%
	);
	gap: 30px;
}

.greenGoblin,
.doctorOctopus,
.electro {
	margin: 20px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 20%;
	text-align: center;
}

.sandman,
.lizard {
	margin: 20px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 20%;
	text-align: center;
}

.greenGoblin img,
.doctorOctopus img,
.electro img,
.sandman img,
.lizard img {
	width: 100%;
	height: auto;
}

.greenGoblinText p,
.doctorOctopusText p,
.electroText p,
.sandmanText p,
.lizardText p {
	color: #f5f5f5;
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.greenGoblinText h2,
.doctorOctopusText h2,
.electroText h2,
.sandmanText h2,
.lizardText h2 {
	color: #f5f5f5;
	font-family: "Sigmar One", serif;
}

.endSpidey {
	display: flex;
	flex-direction: column;
	background-color: #d72638;
	font-family: "Roboto", sans-serif;
	color: #f5f5f5;
	padding: 50px;
	text-decoration: none;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.mobile-container {
	display: none;
}

#myLinks {
	display: none;
}

@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		padding: 0 20px;
	}

	header {
		display: none;
	}

	.topnav {
		display: block;
	}

	.topnav .icon {
		display: block;
	}
}

@media (max-width: 412px) {
	.desktop-menu {
		display: none;
	}

	/* Hamburger menu */
	.mobile-container {
		display: block;
		max-width: 100%;
		color: #1e3a5f;
	}

	.topnav {
		overflow: hidden;
		background-color: #d72638;
		position: relative;
	}

	.topnav #myLinks {
		display: block;
	}

	.topnav #myLinks img {
		height: 50px;
		width: auto;
	}

	.topnav a {
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		font-family: "Merriweather", serif;
	}

	.topnav a.icon {
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav a:hover {
		background-color: #1e3a5f;
		color: #d72638;
	}

	.active {
		background-color: #1e3a5f;
		color: white;
	}

	/* About me */

	.peterIntro,
	.wrapperTwo {
		width: 100%;
		max-width: 402px;
		height: auto;
	}

	.peterIntro,
	.introText {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: center;
		margin: 0 30px !important;
		padding: 10px;
	}

	.introText h1,
	h3 {
		align-self: center;
		text-align: center;
		margin: 0px 30px;
	}

	.peterIntro img {
		width: 60%;
		height: auto;
		margin: 20px;
	}

	.aboutMe,
	.aboutMe2,
	.aboutMe3,
	.aboutMe4,
	.aboutMe5 {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 20px 30px;
		padding: 10px;
		width: 80%;
		max-width: 402px;
	}

	.aboutMe img,
	.aboutMe2 img,
	.aboutMe3 img,
	.aboutMe4 img,
	.aboutMe5 img {
		width: 90%;
		height: auto;
		max-width: 200px;
		margin-bottom: 15px;
	}

	.aboutMeText p,
	h2,
	.aboutMeText2 p,
	h2,
	.aboutMeText3 p,
	h2,
	.aboutMeText4 p,
	h2,
	.aboutMeText5 p,
	h2 {
		width: 100%;
		max-width: 402px;
		padding: 0;
		margin: 0 !important;
	}

	.conclusion {
		margin: 0 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 10px;
	}

	.links ul {
		align-items: center;
		padding: 0;
		margin: 0 30px;
		margin-bottom: 80px;
	}

	/* resume */
	.wrapperTwoResume {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 402px;
	}

	.resumeIntro {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		margin: 10px 30px;
	}

	.resumeIntro img {
		width: 100%;
		max-width: 250px;
		height: auto;
		align-items: center;
	}

	.quote {
		display: flex;
		margin: 0 10px;
	}

	.quote h1 {
		display: flex;
		margin: 0;
		align-items: center;
		text-align: center;
		font-size: 20pt;
	}

	.resume {
		margin: 0px 30px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		max-width: 402px;
	}

	.education h2,
	.experience h2,
	.skills h2,
	.awards h2 {
		display: flex;
		align-items: center;
		text-align: center;
		width: 100%;
		max-width: 402px;
	}

	.interests {
		width: 45%;
		margin-top: 20px;
		margin: 10px 30px;
		padding: 130px;
	}

	.interestsText h2,
	h3,
	p {
		margin: 10px 5px;
		font-size: smaller;
	}

	/* Spidey */
	.wrapperTwo {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.spiderIntro {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px 30px;
		max-width: 402px;
	}

	.spiderIntroText {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10px 30px !important;
	}

	.spiderIntroText h1 {
		margin: 0;
		font-size: 20pt;
		align-items: center;
	}

	.spiderIntro img {
		margin-top: 20px;
		margin-bottom: 20px;
		max-width: 402px;
		width: 60%;
		height: auto;
	}

	.aboutSpidey {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.aboutSpideyTekst,
	.aboutSpideyTekst {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 412px;
		padding: 0px;
	}

	.aboutSpideyTekst h1,
	p,
	.aboutSpideyTekst2 h1,
	p {
		margin: 10px 30px !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center !important;

		br {
			display: none;
		}
	}

	.spideySkills {
		text-align: center;
	}

	.spideySkills h1 {
		margin: 20px 30px;
		margin-bottom: 15px;
		text-align: center;
	}

	.spideySkills img {
		width: 90%;
		margin: 10px 30px;
	}

	.superhuman,
	.web,
	.problem-solving,
	.technologically {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 20px;
	}

	.superhumanText,
	.webText,
	.problemText,
	.technologicallyText {
		margin: 10px 30px;
		text-align: center;
		align-items: center;
	}

	.spideyQuote h1 {
		margin: 10px 5px;
		align-items: center;
		text-align: center;
		font-size: 25px;
	}

	.villains h1 {
		margin: 10px 30px;
		align-items: center;
		text-align: center;
	}

	.everyVillains .vulture,
	.mysterio,
	.thanos {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.villains img {
		width: 80%;
		margin: 10px 30px;
	}

	.multiversal {
		text-align: center;
		width: 100%;
		max-width: 412px;
		padding: 0;
	}

	.spider-Men3Text {
		margin: 10px 30px;
		width: 100%;
		max-width: 412px;
	}

	.spider-Men3Text h1 {
		margin: 10px 30px !important;
		font-size: 20pt !important;
	}

	.spider-Men3Text h3 {
		margin: 5px 30px !important;
		padding: 10px;
	}

	.multiversalVillan {
		padding: 0;
		width: 100%;
		max-width: 412px;
	}

	.spider-Men3,
	.greenGoblin,
	.doctorOctopus,
	.electro,
	.sandman,
	.lizard {
		display: flex;
		flex-direction: column !important;
		align-items: center;
		margin-bottom: 10px;
	}

	.spider-Men3Text p,
	h2,
	.greenGoblinText p,
	h2,
	.doctorOctopusText p,
	h2,
	.electroText p,
	h2,
	.sandmanText p,
	h2,
	.lizardText p,
	h2 {
		text-align: center;
		align-items: center;
		width: 250px;
		margin: 10px 0 !important;
		padding: 0;
	}

	.spider-Men3 img {
		width: 100%;
		max-width: 400px;
		margin: 10px 30px;
	}

	.spider-Men3 img,
	.greenGoblin img,
	.doctorOctopus img,
	.electro img,
	.sandman img,
	.lizard img {
		width: 250px;
		max-width: 700px;
		margin: 0;
		padding: 0;
	}

	/* Footer */
	footer .endAboutMe,
	footer .endResume,
	footer .endSpidey {
		margin: 0px;
	}

	footer .endAboutMe p,
	footer .endResume p,
	footer .endSpidey p {
		margin: 0px 30px;
	}

	footer .endAboutMe a.insta img,
	footer .endResume a.insta img,
	footer .endSpidey a.insta img {
		width: 20px;
		height: auto;
		margin: 0 2px;
	}

	.topButton {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px 30px;
	}
}
